/* Подключаем шрифт */
@import url('https://fonts.googleapis.com/css2?family=Game+Station+Condensed&display=swap');

/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111; /* Цвет фона страницы */
    color: #F40EF5; /* Фиолетовый цвет текста */
}

.container {
    width: 80%; /* Ширина контента в мобильной версии */
    margin: 0 auto;
    padding: 3vw; /* Отступы в процентах от ширины viewport */
    background-color: rgba(0, 0, 0, 0.8); /* Чтобы текст был читаемым на фоне */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
}

/* Стили для хедера */
.header {
    background-color: #000;
    padding: 2vh 3vw; /* Отступы в процентах от высоты и ширины viewport */
    color: #F40EF5; /* Фиолетовый цвет текста */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Сделаем хедер фиксированным */
    top: 0; /* Закрепляем его вверху страницы */
    width: 100%; /* Ширина на всю ширину экрана */
    z-index: 1000; /* Выше других элементов на странице */
}

.header a {
    color: #F40EF5; /* Фиолетовый цвет для ссылок */
    text-decoration: none;
    margin-right: 3vw; /* Отступ в процентах от ширины viewport */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 1vh 2vw; /* Отступы в процентах от высоты и ширины viewport */
    border: 2px solid #F40EF5; /* Фиолетовая рамка */
    border-radius: 2vw; /* Скругление углов в процентах от ширины viewport */
    margin-right: 3vw; /* Отступ в процентах от ширины viewport */
    width: 20vw; /* Ширина поля ввода в процентах от ширины viewport */
}

.search-icon {
    fill: #F40EF5; /* Цвет иконки поиска */
}

/* Стили для основного контента */
article {
    padding: 10vh 3vw; /* Отступы в процентах от высоты и ширины viewport */
    color: #F40EF5; /* Фиолетовый цвет текста */
}

@media (min-width: 769px) {
    .container {
        width: 60%; /* Ширина контента в десктопной версии */
    }

    .header {
        padding: 1vh 3vw; /* Уменьшим отступы для хедера на больших экранах */
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-input {
        width: 80%; /* Ширина поля ввода в мобильной версии */
    }
}
