body {
    margin: 0;
    padding: 0;
    font-family: 'Game Station Condensed', Arial, sans-serif; /* Используем шрифт Game Station Condensed */
    background-image: url('background.jpg'); /* Замените на путь к вашему изображению */
    background-size: 100% auto; /* Занимает 100% по горизонтали и автоматический размер по высоте */
    background-repeat: repeat-y; /* Повторять изображение только по вертикали */
    color: #F40EF5; /* Фиолетовый цвет текста */
}


.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blog-column {
  background-color: #F70BF3;
  padding: 20px;
  text-align: center;
}

.blog-column img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .blog-column {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .blog-column {
    width: 33.33%;
  }
}
