body {
    background-color: #f5f5f5; /* Светло-серый фон */
    color: #333333; /* Черный текст */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff; /* Белый фон контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    color: #333333; /* Черный текст в контейнерах */
}

header {
    background-color: #1e90ff; /* Ярко-синяя шапка */
    color: #ffffff; /* Белый текст в шапке */
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #1e90ff; /* Ярко-синие ссылки в навигационном меню */
}

/* Цвет ссылок в навигационном меню при наведении */
nav ul li a:hover {
    color: #333333; /* Черные ссылки при наведении */
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #1e90ff; /* Ярко-синие заголовки разделов */
}

footer {
    background-color: #1e90ff; /* Ярко-синий фон подвала */
    color: #ffffff; /* Белый текст в подвале */
    padding: 10px 0;
    text-align: center;
}
