/* Стиль для хедера */
header {
    background-image: url("https://im.wampi.ru/2023/10/12/BEZ-NAZVANIY23_20231010184428.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

/* Стиль для цвета фона страницы */
body {
    background-color: #5FB5FF;
}

/* Дополнительные стили, чтобы убрать дефолтное отступы у ul и убрать подчеркивание у ссылок */
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.button {
  background-color: #FEE8FD;
  display: inline-block;
  padding: 10px 20px; /* Регулируйте размер кнопки при необходимости */
  border: none;
  border-radius: 5px; /* Округлые углы, если нужно */
  color: #000; /* Цвет текста на кнопке, можно изменить */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Размер шрифта, подберите под свои нужды */
  margin: 5px; /* Отступ между кнопками */
  cursor: pointer;
}
