/* Стиль для хедера */
header {
    background-image: url("https://im.wampi.ru/2023/10/12/BEZ-NAZVANIY23_20231010184428.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

/* Стиль для цвета фона страницы */
body {
    background-color: #5FB5FF;
}

/* Дополнительные стили, чтобы убрать дефолтное отступы у ul и убрать подчеркивание у ссылок */
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FEE8FD; /* Цвет фона кнопки */
  color: black; /* Цвет текста на кнопке */
  text-align: center;
  text-decoration: none;
  border-radius: 4px; /* Закругленные углы */
  box-shadow: 2px 2px 4px #888888; /* Тень */
}
}
